*{
 text-decoration: none;
 margin: 0;
 padding: 0;
 align-content: center;
 color: black;
 font-weight: bolder;
 font-size: large;
 width: 100%;
}

section{
    background-color: rgba(255, 166, 0, 1);
    padding: auto;
}
section header{
    background-color: rgba(255, 166, 0, 1);
    padding: auto;
    line-height: 80px; 
    
}
section header h1{
    border:solid 3px red;
    font-size: larger;
    color: red;
    padding-left: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

section div{
    
    padding:0 50px;
}

nav{
    height: 50px;
    background-color: red;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    
    
    
}
nav a{
    display: inline-block;
    padding: 10px auto;
    margin: auto;
    
    
}

nav a:hover{
    border-radius: 20px;
    background-color:rgba(0, 0, 255,1);
    
}
